@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #dbefff;
    overflow: hidden;
    transition: background 0.5s;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26rem;
    border-radius: 10px;
    flex-direction: column;
    background-color: aliceblue;
    padding: 1.25rem 1rem;
    position: relative;
    transition: background 0.5s;
}

.img img {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% 0;
}

.text {
    text-align: center;
    margin-bottom: 5%;
}

.text h1 {
    color: #7e00d2;
}

.text p {
    font-size: 17px;
    margin: 2% 0;
    color: #383838;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    padding: 1rem;
    background: #7e00d2;
    border: 0;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    color: #dbefff;
    font-size: 20px;
    margin-top: 3%;
    transition: 0.4s;
}

.btn:hover {
    transform: scale(1.05);
    background: #7e00d2bb;
    color: #fff;
}

.link:link {
    color: #dbefff;
    text-decoration: none;
}

.link:visited {
    color: #dbefff;
    text-decoration: none;
}

.icon {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #efdbff;
    position: absolute;
    top: 2%;
    right: 2%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon::before {
    content: "\f186";
    font-family: fontAwesome;
    color: #7e00d2;
    font-size: 20px;
}

/* Dark Mode */

.header.dark {
    background: #202026;
}

.header.dark .icon::before {
    content: "\f185";
}

.header.dark .container {
    background: #323840;
}

.header.dark .text p {
    color: #fff;
}